<div class="container-fluid">
  <div [ngClass]="{'d-none': bolck !== 1}" class=" mb-4  p-0 d-flex justify-content-between  ">
    <div class="pt-4">
      <ng-container *ngIf="bolck == 1">
        <h2 class="fs-3 p-0 m-0 ">{{title}} <fa-icon routerLink="/guide" title="Guide" role="button" class="ms-4"
            [icon]="helpIcon"></fa-icon> </h2>
        <span class="text-info">General Info</span>
      </ng-container>
    </div>
  </div>
  <div>
    <div>
      <form [formGroup]="editModel" (ngSubmit)="edit()" class="form-group" novalidate autocomplete="off">
        <ng-container *ngFor="let fi of fields.controls; let k = index">
          <div [ngClass]="{'d-none': bolck !== k + 2}" class=" mb-4  p-0 ">
            <div class="d-flex justify-content-between align-items-center">
              <div class="pt-4">
                <ng-container *ngIf="bolck == k + 2">
                  <h2 class="fs-3 p-0 m-0 ">{{title}} <fa-icon routerLink="/guide" title="Guide" role="button"
                      class="ms-4" [icon]="helpIcon"></fa-icon></h2>
                  <span class="text-info">General Info</span>
                  <span class="text-info"> / Fields Info {{k+1}}</span>
                </ng-container>
              </div>
              <div class="">
                <div class="progress p-0 " style="height: 15px; width: 20rem ">
                  <div class="progress-bar" role="progressbar" [style]="style" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="100">
                    {{precent | number: '2.0-0' }}%
                  </div>
                </div>
              </div>
            </div>
            <div [ngClass]="{'d-none': bolck !== 2}" class="alert alert-warning mt-3" role="alert ">
              En este campo solo espesifique el tipo de dato. Si cambia el nombre del campo ("id") el modelo no sera
              correto. El modelo tiene que tener un campo id
            </div>
          </div>
        </ng-container>
        <!-- *********************************Bloque 1 **********************************-->
        <div [ngClass]="{'d-none': bolck !== 1}">
          <div class="row">
            <div class="col-md-12">
              <!------------------------ inputs entityName --------------------------->
              <div>
                <label for="Name" class=" form-label">Entity Name</label>
                <div>
                  <input [title]="helpMessage.entityname" id="Name" formControlName="Name"
                    class="form-control form-control-sm w-25" type="text" placeholder="Entity Name" autocomplete="off"
                    [ngClass]="{'is-invalid': (fm['Name'].touched || fm['Name'].dirty) && !fm['Name'].valid}">
                  <div class="spacer"
                    [ngClass]="{'d-none': (fm['Name'].touched || fm['Name'].dirty) && !fm['Name'].valid }">
                  </div>
                  <span class="invalid-feedback">
                    <em class="d-block" *ngIf="fm['Name']?.hasError('required')">
                      {{validationForms.required}}
                    </em>
                    <em class="d-block" *ngIf="fm['Name']?.hasError('maxlength')">
                      {{validationForms.maxlength}}
                    </em>
                  </span>
                </div>
              </div>
              <!------------------------ inputs entityPluralName --------------------------->
              <div>
                <label for="PluralName" class=" form-label">Entity Plural Name</label>
                <div>
                  <input id="PluralName" formControlName="PluralName" class="form-control form-control-sm  w-25"
                    type="text" [title]="helpMessage.entityPluralName" placeholder="Entity Plural Name"
                    [ngClass]="{'is-invalid': (fm['PluralName'].touched || fm['PluralName'].dirty) && !fm['PluralName'].valid}">
                  <div class="spacer"
                    [ngClass]="{'d-none': (fm['PluralName'].touched || fm['PluralName'].dirty) && !fm['PluralName'].valid }">
                  </div>
                  <span class="invalid-feedback">
                    <em class="d-block" *ngIf="fm['PluralName']?.hasError('required')">
                      {{validationForms.required}}
                    </em>
                    <em class="d-block" *ngIf="fm['PluralName']?.hasError('maxlength')">
                      {{validationForms.maxlength}}
                    </em>
                  </span>
                </div>
              </div>
              <div>
                <!------------------------ inputs FieldQuantity --------------------------->
                <div>
                  <div>
                    <span class=" form-label">Field Quantity</span>
                  </div>
                  <button [title]="helpMessage.decrementFields" type="button" [disabled]="isUnlockSelection"
                    (click)="decrement()" class="btn btn-primary btn-sm me-4 ">-</button>
                  <span class="me-4 fs-4">{{fieldQuantity}}</span>
                  <Button [title]="helpMessage.incrementFields" type="button" [disabled]="isUnlockSelection"
                    (click)="increment()" class="btn btn-primary btn-sm me-4"> +</Button>
                  <button type="button" (click)="onUnlockSelection()" class="btn btn-success btn-sm"
                    [title]="helpMessage.disableCounter">
                    {{!isUnlockSelection ? "Disable":"Enable"}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mt-4 col-md-3">
              <button [title]="helpMessage.preview" class="btn btn-secondary btn-sm" style="width: 45%;" type="button"
                [disabled]="bolck == 1">Preview</button>
              <button [title]="helpMessage.next" class="btn btn-primary btn-sm float-end" style="width: 45%;"
                type="button" [disabled]="!fm['Name'].valid || !fm['PluralName'].valid " (click)="handlerNext()">
                Next
              </button>
            </div>
          </div>
        </div>

        <!-- *********************************fields block2 **********************************-->
        <div formArrayName="Fields" *ngFor="let fi of fields.controls; let i = index">
          <div [ngClass]="{'d-none': bolck !== i + 2}">
            <div>
              <div class="row shadow py-4" [formGroupName]="i">
                <div class="col-md-4  ">
                  <!------------------------ inputs FieldName --------------------------->

                  <div>
                    <label attr.for="{{'Name' + i}}" class=" form-label">Field Name</label>
                    <div>
                      <input id="{{'Name' + i}}" formControlName="Name" class="form-control form-control-sm" type="text"
                        placeholder="Field Name"
                        [ngClass]="{'is-invalid': (fields.get(i.toString() + '.Name')?.touched || fields.get(i.toString() + '.Name')?.dirty) && !fields.get(i.toString() + '.Name')?.valid}">
                      <div class="spacer"
                        [ngClass]="{'d-none': (fields.get(i.toString() + '.Name')?.touched || fields.get(i.toString() + '.Name')?.dirty) && !fields.get(i.toString() + '.Name')?.valid }">
                      </div>
                      <span class="invalid-feedback">
                        <em class="d-block" *ngIf="fields.get(i.toString() + '.Name')?.hasError('required')">
                          {{validationForms.required}}
                        </em>
                        <em class="d-block" *ngIf="fields.get(i.toString() + '.Name')?.hasError('maxlength')">
                          {{validationForms.maxlength}}
                        </em>
                      </span>
                    </div>
                  </div>
                  <!-- **************************DisplayName********************* -->
                  <div>
                    <label attr.for="{{'DisplayName' + i}}" class=" form-label">Field Display Name</label>
                    <div>
                      <input id="{{'DisplayName' + i}}" formControlName="DisplayName"
                        class="form-control form-control-sm" type="text" placeholder="Field Display Name"
                        [ngClass]="{'is-invalid': (fields.get(i.toString() + '.DisplayName')?.touched || fields.get(i.toString() + '.DisplayName')?.dirty) && !fields.get(i.toString() + '.DisplayName')?.valid}">
                      <div class="spacer"
                        [ngClass]="{'d-none': (fields.get(i.toString() + '.DisplayName')?.touched || fields.get(i.toString() + '.DisplayName')?.dirty) && !fields.get(i.toString() + '.DisplayName')?.valid }">
                      </div>
                      <span class="invalid-feedback">
                        <em class="d-block" *ngIf="fields.get(i.toString() + '.DisplayName')?.hasError('required')">
                          {{validationForms.required}}
                        </em>
                        <em class="d-block" *ngIf="fields.get(i.toString() + '.DisplayName')?.hasError('maxlength')">
                          {{validationForms.maxlength}}
                        </em>
                      </span>
                    </div>
                  </div>
                  <!------------------------ inputs Field Type --------------------------->
                  <div>
                    <label attr.for="{{'Type' + i}}" class="form-label">Field Type</label>
                    <select id="{{'Type' + i}}" class="form-select form-select-sm" aria-label="Default select example"
                      formControlName="Type"
                      [ngClass]="{'is-invalid': (fields.get(i.toString() + '.Type')?.touched || fields.get(i.toString() + '.Type')?.dirty) && !fields.get(i.toString() + '.Type')?.valid }">
                      <option disabled selected value="">Select Type</option>
                      <ng-container *ngIf="fields.get(i.toString() + '.Name')?.value == 'id'">
                        <option [value]="dataTypeEnum.number">{{dataTypeEnum.number}}</option>
                        <option [value]="dataTypeEnum.string">{{dataTypeEnum.string}}</option>
                      </ng-container>
                      <ng-container *ngIf="fields.get(i.toString() + '.Name')?.value !== 'id'">
                        <option *ngFor="let opt of dataTypes" [value]="opt">{{opt}}</option>
                      </ng-container>

                    </select>
                    <div class="spacer"
                      [ngClass]="{'d-none': (fields.get(i.toString() + '.Type')?.touched || fields.get(i.toString() + '.Type')?.dirty) && !fields.get(i.toString() + '.Type')?.valid }">
                    </div>
                    <span class="invalid-feedback">
                      <em class="d-block" *ngIf="fields.get(i.toString() + '.Type')?.hasError('required')">
                        {{validationForms.required}}
                      </em>
                    </span>
                  </div>
                  <!-- ********abilitar validators -->
                  <div class="form-check">
                    <input formControlName="AvilitarValidators" class="form-check-input" type="checkbox" value=""
                      id="{{'flexCheckDefault' + i}}">
                    <label class="form-check-label" attr.for="{{'flexCheckDefault' + i}}">
                      Asign Validators
                    </label>
                  </div>
                </div>
                <!------------------------  Display type --------------------------->
                <div class="col-md-4 border border-bottom-0 border-top-0 " formGroupName="DisplayType">
                  <div class="row">
                    <div class="col-md-6">
                      <!------------------------ inputs Element --------------------------->
                      <div>
                        <label attr.for="{{'Element'+ i}}" class="form-label">Element HTML</label>
                        <select id="{{'Element'+i}}" class="form-select form-select-sm"
                          aria-label="Default select example" formControlName="Element"
                          [ngClass]="{'is-invalid': (fields.get(i.toString() + '.DisplayType.Element')?.touched || fields.get(i.toString() + '.DisplayType.Element')?.dirty) && !fields.get(i.toString() + '.DisplayType.Element')?.valid }">
                          <option disabled selected [value]=null>Select Element</option>
                          <ng-container *ngIf="fields.get(i.toString() + '.Type')?.value == dataTypeEnum.boolean">
                            <option [value]="elementsEnum.input">{{elementsEnum.input}}</option>
                          </ng-container>
                          <ng-container *ngIf="fields.get(i.toString() + '.Type')?.value == dataTypeEnum.date">
                            <option [value]="elementsEnum.input">{{elementsEnum.input}}</option>
                          </ng-container>
                          <ng-container *ngIf="fields.get(i.toString() + '.Type')?.value == dataTypeEnum.customType
                        || fields.get(i.toString() + '.Type')?.value == dataTypeEnum.stringArray
                        || fields.get(i.toString() + '.Type')?.value == dataTypeEnum.numberArray
                        || fields.get(i.toString() + '.Type')?.value == dataTypeEnum.anyArray
                        || fields.get(i.toString() + '.Type')?.value == dataTypeEnum.boleanArray">
                            <option [value]="elementsEnum.select">{{elementsEnum.select}}</option>
                          </ng-container>
                          <ng-container *ngIf="fields.get(i.toString() + '.Type')?.value !== dataTypeEnum.boolean
                        && fields.get(i.toString() + '.Type')?.value !== dataTypeEnum.customType
                        && fields.get(i.toString() + '.Type')?.value !== dataTypeEnum.date
                        && fields.get(i.toString() + '.Type')?.value !== dataTypeEnum.stringArray
                        && fields.get(i.toString() + '.Type')?.value !== dataTypeEnum.numberArray
                        && fields.get(i.toString() + '.Type')?.value !== dataTypeEnum.anyArray
                        && fields.get(i.toString() + '.Type')?.value !== dataTypeEnum.boleanArray ">
                            <option *ngFor="let opt of element" [value]="opt">{{opt}}</option>
                          </ng-container>

                        </select>
                        <div class="spacer"
                          [ngClass]="{'d-none': (fields.get(i.toString() + '.DisplayType.Element')?.touched || fields.get(i.toString() + '.DisplayType.Element')?.dirty) && !fields.get(i.toString() + '.DisplayType.Element')?.valid }">
                        </div>
                        <span class="invalid-feedback">
                          <em class="d-block"
                            *ngIf="fields.get(i.toString() + '.DisplayType.Element')?.hasError('required')">
                            {{validationForms.required}}
                          </em>
                        </span>
                      </div>
                      <!-- ***********************elementType************************** -->
                      <div>
                        <label attr.for="{{'ElementType' + i}}" class="form-label">Element Type</label>
                        <select id="{{'ElementType' + i}}" class="form-select form-select-sm"
                          aria-label="Default select example" formControlName="ElementType"
                          [ngClass]="{'is-invalid': (fields.get(i.toString() + '.DisplayType.ElementType')?.touched || fields.get(i.toString() + '.DisplayType.ElementType')?.dirty) && !fields.get(i.toString() + '.DisplayType.ElementType')?.valid  && !fields.get(i.toString() + '.DisplayType.ElementType')?.disabled}">
                          <option disabled selected [value]=null>Select Type</option>

                          <ng-container *ngIf="fields.get(i.toString() + '.Type')?.value == dataTypeEnum.boolean">
                            <option [value]="elementTypeEnum.checkbox">{{elementTypeEnum.checkbox}}</option>
                            <option [value]="elementTypeEnum.radio">{{elementTypeEnum.radio}}</option>
                          </ng-container>
                          <ng-container *ngIf="fields.get(i.toString() + '.Type')?.value == dataTypeEnum.date">
                            <option [value]="elementTypeEnum.date">{{elementTypeEnum.date}}</option>
                            <option [value]="elementTypeEnum.month">{{elementTypeEnum.month}}</option>
                            <option [value]="elementTypeEnum.week">{{elementTypeEnum.week}}</option>
                            <option [value]="elementTypeEnum.time">{{elementTypeEnum.time}}</option>
                          </ng-container>
                          <ng-container
                            *ngIf="fields.get(i.toString() + '.Type')?.value !== dataTypeEnum.boolean && fields.get(i.toString() + '.Type')?.value !== dataTypeEnum.date ">
                            <option *ngFor="let opt of elementType" [value]="opt">{{opt}}</option>
                          </ng-container>
                        </select>
                        <div class="spacer"
                          [ngClass]="{'d-none': (fields.get(i.toString() + '.DisplayType.ElementType')?.touched || fields.get(i.toString() + '.DisplayType.ElementType')?.dirty) && !fields.get(i.toString() + '.DisplayType.ElementType')?.valid && !fields.get(i.toString() + '.DisplayType.ElementType')?.disabled }">
                        </div>
                        <span class="invalid-feedback">
                          <em class="d-block"
                            *ngIf="fields.get(i.toString() + '.DisplayType.ElementType')?.hasError('required')">
                            {{validationForms.required}}
                          </em>
                        </span>
                      </div>
                      <!-- ***********************FileOptions************************** -->
                      <div formGroupName="FileOptions">
                        <label attr.for="{{'TypeFile' + i}}" class="form-label">TypeFile</label>
                        <select id="{{'TypeFile' + i}}" class="form-select form-select-sm" aria-label="TypeFile"
                          formControlName="TypeFile"
                          [ngClass]="{'is-invalid': (fields.get(i.toString() + '.DisplayType.FileOptions.TypeFile')?.touched || fields.get(i.toString() + '.DisplayType.FileOptions.TypeFile')?.dirty) && !fields.get(i.toString() + '.DisplayType.FileOptions.TypeFile')?.valid && !fields.get(i.toString() + '.DisplayType.FileOptions.TypeFile')?.disabled }">
                          <option disabled selected [value]='null'>Select Type File</option>
                          <option *ngFor="let opt of typeFile" [value]="opt">{{opt}}</option>
                        </select>
                        <div class="spacer"
                          [ngClass]="{'d-none': (fields.get(i.toString() + '.DisplayType.FileOptions.TypeFile')?.touched || fields.get(i.toString() + '.DisplayType.FileOptions.TypeFile')?.dirty) && !fields.get(i.toString() + '.DisplayType.FileOptions.TypeFile')?.valid && !fields.get(i.toString() + '.DisplayType.FileOptions.TypeFile')?.disabled}">
                        </div>
                        <span class="invalid-feedback">
                          <em class="d-block"
                            *ngIf="fields.get(i.toString() + '.DisplayType.FileOptions.TypeFile')?.hasError('required')">
                            {{validationForms.required}}
                          </em>
                        </span>
                      </div>
                    </div>

                    <!-- ***********************Option selected************************** -->
                    <div class=" col-md-6 ">
                      <div>
                        <div class="d-flex  justify-content-between ">
                          <span class=" form-label">Options</span>
                          <div>
                            <button type="button" (click)="addOptionSelected(i)"
                              [disabled]="fields.get(i.toString() + '.DisplayType.Element')?.value != elementsEnum.select"
                              class="btn btn-link btn-sm text-decoration-none  text-info">
                              Add
                            </button>
                            <button type="button" class="btn btn-link btn-sm  text-decoration-none   text-info "
                              (click)="removeOptionSelected(i)">
                              Delete
                            </button>
                          </div>
                        </div>
                        <div class="dinamic-Array">
                          <div formArrayName="OptionsSelected"
                            *ngFor="let opt of getoptionSelected(i).controls; let j = index">
                            <div>
                              <input [formControlName]="j" class="form-control form-control-sm" type="text"
                                placeholder="Options Selected"
                                [ngClass]="{'is-invalid': (getoptionSelected(i).get(j.toString())?.touched || getoptionSelected(i).get(j.toString())?.dirty) && (!getoptionSelected(i).get(j.toString())?.disabled && !getoptionSelected(i).get(j.toString())?.valid)}">

                              <div class="spacer"
                                [ngClass]="{'d-none': (getoptionSelected(i).get(j.toString())?.touched || getoptionSelected(i).get(j.toString())?.dirty) && (!getoptionSelected(i).get(j.toString())?.disabled && !getoptionSelected(i).get(j.toString())?.valid )}">
                              </div>
                              <span class="invalid-feedback">
                                <em class="d-block"
                                  *ngIf="getoptionSelected(i).get(j.toString())?.hasError('required')">
                                  {{validationForms.required}}
                                </em>
                                <em class="d-block"
                                  *ngIf="getoptionSelected(i).get(j.toString())?.hasError('maxlength')">
                                  {{validationForms.maxlength}}
                                </em>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- ***********************Validators and Values************************** -->
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-12 d-flex justify-content-between">
                      <span class="form-label">Validators & Values</span>
                      <div class="">
                        <button type="button" (click)="addValidatorAndValue(i)"
                          [disabled]="!fields.get(i.toString() + '.AvilitarValidators')?.value"
                          class="btn btn-link btn-sm text-decoration-none  text-info">
                          Add
                        </button>
                        <button type="button" (click)="removeValidatorAndValue(i)"
                          class="btn btn-link btn-sm  text-decoration-none   text-info ">
                          Delete
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row dinamic-Array">
                    <!-- ********************************* validator****************************** -->
                    <div class="col-md-6">
                      <div>
                        <div class="">
                          <div formArrayName="Validators" *ngFor="let os of getvalidators(i).controls; let v = index">
                            <div>
                              <select class="form-select form-select-sm" aria-label="Default select example"
                                [formControlName]="v"
                                [ngClass]="{'is-invalid': (getvalidators(i).get(v.toString())?.touched || getvalidators(i).get(v.toString())?.dirty) && !getvalidators(i).get(v.toString())?.valid  && !getvalidators(i).get(v.toString())?.disabled}">
                                <option disabled selected [value]="null">Select Validator</option>
                                <ng-container *ngIf="fields.get(i.toString() + '.Type')?.value == dataTypeEnum.date">
                                  <option [value]="validatorsEnum.minDate">{{validatorsEnum.minDate}}</option>
                                  <option [value]="validatorsEnum.maxDate">{{validatorsEnum.maxDate}}</option>
                                  <option [value]="validatorsEnum.required">{{validatorsEnum.required}}</option>
                                </ng-container>
                                <ng-container
                                  *ngIf="fields.get(i.toString() + '.DisplayType.ElementType')?.value == elementTypeEnum.file">
                                  <option [value]="validatorsEnum.maxSizeFile">{{validatorsEnum.maxSizeFile}}</option>
                                  <option [value]="validatorsEnum.typeFile">{{validatorsEnum.typeFile}}</option>
                                  <option [value]="validatorsEnum.required">{{validatorsEnum.required}}</option>
                                </ng-container>
                                <ng-container
                                  *ngIf="fields.get(i.toString() + '.Type')?.value !== dataTypeEnum.date && fields.get(i.toString() + '.DisplayType.ElementType')?.value !== elementTypeEnum.file">
                                  <option *ngFor="let opt of validators" [value]="opt">{{opt}}</option>
                                </ng-container>

                              </select>
                              <div class="spacer"
                                [ngClass]="{'d-none': (getvalidators(i).get(v.toString())?.touched || getvalidators(i).get(v.toString())?.dirty) && !getvalidators(i).get(v.toString())?.valid && !getvalidators(i).get(v.toString())?.disabled }">
                              </div>
                              <span class="invalid-feedback">
                                <em class="d-block" *ngIf="getvalidators(i).get(v.toString())?.hasError('required')">
                                  {{validationForms.required}}
                                </em>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- *********************************value validator****************************** -->
                    <div class="col-md-6">
                      <div>
                        <div formArrayName="ValueValidators"
                          *ngFor="let os of getvalueValidators(i).controls; let vv = index">
                          <div>
                            <input [formControlName]="vv" class="form-control form-control-sm" type="text"
                              placeholder="Value Validators"
                              [ngClass]="{'is-invalid': (getvalueValidators(i).get(vv.toString())?.touched || getvalueValidators(i).get(vv.toString())?.dirty) && !getvalueValidators(i).get(vv.toString())?.disabled && !getvalueValidators(i).get(vv.toString())?.valid}">

                            <div class="spacer"
                              [ngClass]="{'d-none': (getvalueValidators(i).get(vv.toString())?.touched || getvalueValidators(i).get(vv.toString())?.dirty) && !getvalueValidators(i).get(vv.toString())?.disabled && !getvalueValidators(i).get(vv.toString())?.valid }">
                            </div>
                            <span class="invalid-feedback">
                              <em class="d-block"
                                *ngIf="getvalueValidators(i).get(vv.toString())?.hasError('required')">
                                {{validationForms.required}}
                              </em>
                              <em class="d-block"
                                *ngIf="getvalueValidators(i).get(vv.toString())?.hasError('maxlength')">
                                {{validationForms.maxlength}}
                              </em>
                              <em class="d-block"
                                *ngIf="getvalueValidators(i).get(vv.toString())?.hasError('valuevalidatorminandmaxdate')">
                                {{validationForms.valuevalidatorminandmaxdate}}
                              </em>
                              <em class="d-block"
                                *ngIf="getvalueValidators(i).get(vv.toString())?.hasError('valuevalidatormaxsizefile')">
                                {{validationForms.valuevalidatormaxsizefile}}
                              </em>
                              <em class="d-block"
                                *ngIf="getvalueValidators(i).get(vv.toString())?.hasError('valuevalidatortypefile')">
                                {{validationForms.valuevalidatortypefile}}
                              </em>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div *ngIf="fields.controls.length >= bolck" class="mt-5 col-md-3">
                <button class="btn btn-secondary btn-sm" style="width: 45%;" type="button" (click)="handlerPreview()">
                  Preview</button>
                <button class="btn btn-primary btn-sm float-end" style="width: 45%;" type="button"
                  [disabled]="!fields.get(i.toString())?.valid" (click)="handlerFieldNext()">
                  Next
                </button>
              </div>
              <div *ngIf="bolck - 1  == fields.controls.length" class="mt-5 col-md-3 ">
                <button class="btn btn-secondary btn-sm" style="width: 45%;" type="button" (click)="handlerPreview()">
                  Preview</button>
                <button class="btn btn-primary btn-sm float-end " style="width:45%;" type="submit"
                  [disabled]="!editModel.valid">Save</button>
              </div>
            </div>
          </div>
        </div>



      </form>
    </div>
  </div>
</div>
