<ng-container *ngIf="data | async as entities">
  <div class="container">
    <div>
      <div class="bg-light mt-4 ">
        <div class="d-flex justify-content-start align-items-center">
          <h4 class="position-relative">Entities
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success" style="font-size: 0.6rem;">
              {{entities.length}}
            </span>
          </h4>
          <a class="text-decoration-none fw-bolder ms-3 text-info" style="font-size: 0.9rem;" routerLink="/entities/add">
            New Entity
          </a>
          <a role="button" class="text-decoration-none fw-bolder ms-3 text-info" style="font-size: 0.9rem;" (click)="importEntity()">
           Import
          </a>

        </div>
        <ng-container *ngIf="entities.length > 0; else addEntity">
         <div class="scroll-table shadow">
          <table class="table  border table-striped bg-light ">
            <thead class="bg-secondary"  style="position: sticky; top: -0.01rem;">
              <tr>
                <th>
                  Entity Name
                </th>
                <th>
                  Entity Plural Name
                </th>
                <th>
                  Fields Quantity
                </th>
                <th>

                </th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let entity of entities">
                <td>
                  {{entity.Name}}
                </td>
                <td>
                  {{entity.PluralName}}
                </td>
                <td>
                  {{entity.Fields.length}}
                </td>
                <td class="text-end">
                  <span role="button" class="text-info  me-4" [routerLink]="['/entities', entity.Id, 'edit']">Edit</span>
                  <span data-bs-toggle="modal" data-bs-target="#confirmModalEntity"  (click)="onActions('delete',entity.Id, entity.Name)" role="button" class="text-info  me-4">Delete</span>
                  <!-- <span role="button" class=" text-info  me-4" [routerLink]="['/entities', entity.Id, 'fields', 'add']">Add Field </span> -->
                  <span role="button" class=" text-info  me-4" [routerLink]="['/entities', entity.Id, 'fields']">Fields</span>

                  <span data-bs-toggle="modal" data-bs-target="#confirmModalEntity"  (click)="onActions('export',entity.Id, entity.Name)" role="button" class=" text-info ">Export</span>
                </td>
              </tr>

            </tbody>
          </table>
         </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #addEntity>
  <div class="alert alert-primary text-center" role="alert">
    Comience creando la primera entidad.
    <a class="text-decoration-none fw-bolder ms-3 text-info" style="font-size: 0.9rem;" routerLink="/entities/add">
      New Entity
    </a>
  </div>
</ng-template>
<div class="divider"></div>


 <confirm (action)="actions()" [id]="'confirmModalEntity'" [confirmMessage]="confirmMessage" modalTitle="Alert!!!" [hideCloseButton]="actionsModal == actionsConst.importFailed || actionsModal == actionsConst.exportFailed"></confirm>
<!-- hide input para controlar el upload -->
<input accept=".evaproj" (change)="catchFile($event,'file')" class="d-none" #upload type="file">

<button class="d-none" role="button" #openModal data-bs-toggle="modal" data-bs-target="#confirmModalEntity"></button>
