<div class="container">
 <div class="py-4">
  <h2>Guia</h2>
  <section>
    <article>
      <h2 class="fs-4">Description</h2>
      <p>
        Esta herramienta esta pensada unica y exclusivamente para la generacion de modelos de entidades con un esquema espesifico para su uso en la aplicacion Eva dessarrollada para generar CRUD Operation
        en aplicaciones de Angular.
      </p>
    </article>
   <article>
    <h3>
      Atajos de comandos
    </h3>
    <p>
      * Si se ejecuta el comando dentro en la arpeta raiz de un proyecto de angular puede presindir de la ocion -o para el output directory

    </p>
    <p>
      * Si se ejecuta el comando dentro en la arpeta raiz de un proyecto de angular y se tiene un archivo modelo de entidad en la raiz del proyecto con el nombre model puede presindir de la ocion -m para el model
    </p>

    <p>
      * Tarea Perfecionar los mensages de la ayuda del cli con estos atajos
    </p>
   </article>
  </section>
 </div>
</div>
