<form class="bg-light" style="position: sticky; top: 4rem;" [formGroup]="readFile">
  <div class="container">
    <div class="py-4 mx-auto w-50">
      <div class="row">
        <div class="col-8">
          <input formControlName="currentfile" id="picture" class="form-control form-control-sm " type="file"
            placeholder="Picture" (change)="catchFile($event,'file')" accept="application/json">
          <em class="text-danger d-block mt-1">{{messageError}}</em>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-primary btn-sm me-4" routerLink="/generator">Add</button>
          <button type="button" [disabled]="!(currentFilesSubject | async)?.Name" class="btn btn-primary btn-sm"
            [routerLink]="['/model', (currentFilesSubject | async)?.Name ,'edit']">Edit</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="container" *ngIf="currentFilesSubject | async as file ;else notFileSelected ">
<ng-container>
  <div class="bg-light ">
    <table class="table shadow border table-striped bg-light  ">
      <thead class="bg-secondary">
        <tr>
          <th>
            Entity Name
          </th>
          <th>
            Entity Plural Name
          </th>
          <th>
            Fields Quantity
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{file.Name}}
          </td>
          <td>
            {{file.PluralName}}
          </td>
          <td>
            {{file.Fields.length}}
          </td>
        </tr>
      </tbody>
    </table>

    <h5 class="bg-light">Fields</h5>
  </div>
  <div class="bg-light shadow">
    <table class="table table-striped">
      <thead class="bg-secondary " style="position: sticky; top: 8.9rem;">
        <tr>
          <th>Name</th>
          <th>Display Name</th>
          <th>Type</th>
          <th>Element</th>
          <th>Element Type</th>
          <th>Options Select</th>
          <th>File Type</th>
          <th>Validator</th>
          <th>Value Validator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let field of file.Fields">
          <td>
            {{field.Name}}
          </td>
          <td>
            {{field.DisplayName}}
          </td>
          <td>
            {{field.Type}}
          </td>
          <td>
            {{field.DisplayType ? field.DisplayType.Element : "---"}}
          </td>
          <td>
            {{field.DisplayType?.ElementType ? field.DisplayType?.ElementType : "---"}}
          </td>
          <td>
            <span *ngIf=" !field.DisplayType?.OptionsSelected">---</span>
            <span *ngFor="let opt of field.DisplayType?.OptionsSelected" class="d-block"> {{opt ? opt : "---"}}</span>

          </td>
          <td>
            <span *ngIf=" !field.DisplayType?.FileOptions?.TypeFile">---</span>
            {{field.DisplayType?.FileOptions?.TypeFile}}
          </td>
          <td>
            <span *ngIf=" !field.Validators">---</span>
            <span *ngFor="let validator of field.Validators" class="d-block"> {{validator}}</span>
          </td>
          <td>
            <span *ngIf=" !field.ValueValidators">---</span>
            <span *ngFor="let valueValidator of field.ValueValidators" class="d-block"> {{valueValidator}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

  <!-- <pre>
    {{file | json}}
  </pre> -->

</div>
<ng-template #notFileSelected>
  <div class="alert alert-warning mt-3 text-center" role="alert ">
    Seleccione un archivo
  </div>
</ng-template>
