<ng-container *ngIf="data | async as data">
  <div class="container">
    <div class="d-flex justify-content-between w-100  py-3 border-bottom border-info-subtle">
      <div class="d-flex justify-content-start align-items-end">
        <h3 [ngClass]="{'text-white': (mode$ | async) == modes.dark }" class="m-0 d-flex align-items-start ">{{data.Name}}</h3>
        <a class="text-decoration-none fw-bolder ms-3 text-info " style="font-size: 0.9rem;" routerLink="/app/edit">
          Edit
        </a>
      </div>
      <div class="d-flex align-items-center">
        <a role="button" class="text-decoration-none  mx-2 text-info nav-hover"
          (click)="onActions(actionsModalsConst.new)" data-bs-toggle="modal" data-bs-target="#confirmModal">New</a>
        <a role="button" (click)="onActions(actionsModalsConst.open)" data-bs-toggle="modal"
          data-bs-target="#confirmModal" class="text-decoration-none  mx-2 text-info nav-hover">Open</a>

        <a role="button" (click)="onActions(actionsModalsConst.close)" data-bs-toggle="modal"
          data-bs-target="#confirmModal" class="text-decoration-none  mx-2 text-info nav-hover">Close</a>
        <button type="button" (click)="onActions(actionsModalsConst.export)" data-bs-toggle="modal"
          data-bs-target="#confirmModal" [disabled]="!(checkExport$ | async)"
          class="btn btn-link btn-sm  mx-2 text-decoration-none  text-info nav-hover">
          Export Model
        </button>
        <div class="dropdown-center mx-2">
          <a class=" dropdown-toggle text-decoration-none text-info nav-hover" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tools
          </a>
          <ul style="font-size: 0.9rem;" class="dropdown-menu">
            <li><a  class="dropdown-item " [routerLink]="['/builder-command']">Builder Command</a></li>
           <li><a class="dropdown-item " [routerLink]="['/guide']">Guide</a></li>
            <!-- <li><a class="dropdown-item" href="#">Action three</a></li>  -->
          </ul>
        </div>
        <div class="dropdown-center ms-2">
          <a class=" dropdown-toggle text-decoration-none text-info nav-hover" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Settings
          </a>
          <ul style="font-size: 0.9rem;" class="dropdown-menu">
            <li><span role="button" (click)="onChangeMode()" class="dropdown-item " >{{textbutonMode}} Mode</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>
