// scrollbar tinkering

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
  }
}

::-webkit-scrollbar {
  width: 0.35rem;
}
::-webkit-scrollbar:horizontal {
  height: 0.5rem !important;
}


::-webkit-scrollbar-track {
  background: var(--cui-body-bg, #fff);
  border-radius: 100vw;
  margin-block: .2em;
}

::-webkit-scrollbar-thumb {
  background: #212529;;
  border: .1em solid var(--cui-body-bg, #fff);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.dark-theme::-webkit-scrollbar-thumb {
  background: #2b2b2b;
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background: #999;
}
